@page "/ManageAuditUsers"
@using Cobit_19.Business.Admin;
@using Cobit_19.Business.Audits;
@using Cobit_19.Shared.Dtos;
@using Microsoft.AspNetCore.WebUtilities;
@inject UserManagementProvider userManagementProvider
@inject AuditProvider auditProvider
@inject NavigationManager navigationManager

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public int auditID { get; set; }

    private IList<UserDto> _userDtos { get; set; }
    private IList<ObjectiveAuditMemberDto> _membersDisplayList { get; set; }
    private IList<AuditMemberDto> _auditMemberDtos { get; set; }


    protected override async Task OnInitializedAsync()
    {
        refresh();
    }

    private void refresh()
    {
        _userDtos = userManagementProvider.GetAllUsers();
        _auditMemberDtos = auditProvider.getAuditMembers(auditID);
    }

    private async void Update(string userID)
    {
        var member = new AuditMemberDto
            {
                ApplicationUserID = userID,
                AuditID = auditID
            };

        if (await auditProvider.IsUserInAuditAsync(auditID, userID))
        {
            await auditProvider.deleteAuditMemberAsync(auditID, userID);
        }
        else
        {
            await auditProvider.addAuditMemberAsync(member);
        }

        refresh();
    }

    private bool check(UserDto user)
    {
        return _auditMemberDtos.Any(a => a.ApplicationUserID == user.ID);
    }

    private async void BackButtonPress()
    {
        var audit = await auditProvider.getAsync(auditID);
        var queryStrDict = new Dictionary<string, string>
            {
                ["focusAreaID"] = (audit.FocusArea.ID).ToString(),
            };
        navigationManager.NavigateTo(
            QueryHelpers.AddQueryString("/ManageAudit", queryStrDict)
        );
    }
}

<div class="row">
    <div class="col">
        <button type="button" onclick="@(() => BackButtonPress())" class="btn btn-primary">Done</button>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-8">
            @if (_userDtos is null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <table class="table table-hover table-striped">
                    <thead style="">
                        <tr>
                            <th colspan="6">
                                <div class="ibox-title">
                                    <h5>
                                        <strong>Auditor management</strong>
                                    </h5>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th style="background-color: purple; color: white;">#</th>
                            <th style="background-color: purple; color: white;">User</th>
                            <th style="background-color: purple; color: white;">Selected</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in _userDtos)
                        {
                            <tr>
                                <td>@(_userDtos.IndexOf(user) + 1)</td>
                                <td>@(user.UserName) </td>
                                <td>
                                    <input type="checkbox" checked="@check(user)" @onclick="() => Update(user.ID)" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            
        </div>
        <div class="col">
            <InfoPannel Header="Audit Members">
                <Body>
                    <div>
                        <p>In this phase, prioritized governance and management objectives can be assigned to an auditor, to complete a maturity assessment by following these steps:</p>
                        <table class="table table-stripped small m-t-md">
                            <tbody>
                                <tr>
                                    <td>
                                        <i class="fa fa-circle fa-2xs"></i>
                                    </td>
                                    <td>
                                        <strong>Select</strong> an auditor who would be responsible for administering an audit on an objective
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-circle fa-2xs"></i>
                                    </td>
                                    <td>
                                        The persons selected here are only responsible for the audit of the objectives selected in the previous step.
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </Body>
            </InfoPannel>
        </div>
    </div>
</div>