@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<style>
    .register-header {
        text-align: center;
        color: purple;
        font-size: 2em;
        margin-bottom: 30px;
    }

    .register-section {
        background-color: #f5f5f5;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .form-floating {
        margin-bottom: 20px;
    }

    .btn-primary {
        background-color: purple;
        border-color: purple;
        margin-top: 10px;
        margin-bottom: 10px;
    }

        .btn-primary:hover {
            background-color: #6b38a6;
            border-color: #6b38a6;
        }

    .custom-register-heading {
        text-align: center;
    }
</style>

<h1 class="register-header"></h1>
<div class="row justify-content-center">
    <div class="col-md-4">
        <section class="register-section">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2 class="custom-register-heading">Sign up</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-2">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-2">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.Password"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-2">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.ConfirmPassword"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
