@page "/Guide"


<div class="container mt-4">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="mb-4">Core Model</h3>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-3 mb-3">
            <div class="file-box text-center border rounded p-3">
                <div class="file">
                    <a href="PDFs/1 - COBIT 2019 - FRAMEWORK INTRODUCTION AND METHODOLOGY.pdf">
                        <div class="image">
                            <img alt="image" class="img-fluid" src="PDFs/img/1.PNG" height="40">
                        </div>
                        <div class="file-name">
                            COBIT 2019 - FRAMEWORK INTRODUCTION AND METHODOLOGY<br />
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 mb-4">
            <div class="file-box text-center border rounded p-3">
                <div class="file">
                    <a href="PDFs/2 - COBIT 2019 - FRAMEWORK GOVERNANCE AND MANAGEMENT OBJECTIVES.pdf">
                        <div class="image">
                            <img alt="image" class="img-fluid" src="PDFs/img/2.PNG" height="40">
                        </div>
                        <div class="file-name">
                            COBIT 2019 - FRAMEWORK GOVERNANCE AND MANAGEMENT OBJECTIVES<br />
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 mb-4">
            <div class="file-box text-center border rounded p-3">
                <div class="file">
                    <a href="PDFs/3 - COBIT 2019 - DESIGN GUIDE DESIGNING AN INFORMATION AND TECHNOLOGY GOVERNANCE SOLUTION.pdf">
                        <div class="image">
                            <img alt="image" class="img-fluid" src="PDFs/img/3.PNG" height="40">
                        </div>
                        <div class="file-name">
                            COBIT 2019 - DESIGN GUIDE DESIGNING AN INFORMATION AND TECHNOLOGY GOVERNANCE SOLUTION<br />
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 mb-4">
            <div class="file-box text-center border rounded p-3">
                <div class="file">
                    <a href="PDFs/4 - COBIT 2019 - Implementation guide.pdf">
                        <div class="image">
                            <img alt="image" class="img-fluid" src="PDFs/img/4.PNG" height="40">
                        </div>
                        <div class="file-name">
                            COBIT 2019 - Implementation guide<br />
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3 class="my-4">Focus Areas</h3>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-3 mb-4">
            <div class="file-box text-center border rounded p-3">
                <div class="file">
                    <a href="PDFs/COBIT-Focus-Area-Information-Security.pdf">
                        <div class="image">
                            <img alt="image" class="img-fluid" src="PDFs/img/5.PNG" height="40">
                        </div>
                        <div class="file-name">
                            COBIT 2019 Focus Area - Information Security<br />
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 mb-4">
            <div class="file-box text-center border rounded p-3">
                <div class="file">
                    <a href="PDFs/555000491-1.pdf">
                        <div class="image">
                            <img alt="image" class="img-fluid" src="PDFs/img/6.PNG" height="40">
                        </div>
                        <div class="file-name">
                            COBIT 2019 Focus Area - Information & Technology Risk<br />
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
