@page "/Reports"

@using Cobit_19.Business.Reports
@using Cobit_19.Business.ObjectiveAudits
@using Cobit_19.Shared.Dtos

@inject ReportProvider reportProvider
@inject ObjectiveAuditProvider objectiveAuditProvider
@inject IJSRuntime JSRuntime


@code {

    [Parameter]
    [SupplyParameterFromQuery]
    public int AuditId {get; set;}

    private IList<ObjectiveAuditDto> objAudits;

    protected override void OnInitialized()
    {
        objAudits = objectiveAuditProvider.getAll(AuditId);
    }

    private async Task objectiveAuditReportClick()
    {
        var pdfStream = reportProvider.createObjectiveAuditReport(objAudits);

        if (pdfStream != null)
        {
            byte[] pdfBytes = pdfStream.ToArray();

            await JSRuntime.InvokeVoidAsync("downloadFile", pdfBytes, "sample.pdf");
        }

    }
}

<div class="container">
    <table class="table table-hover table-striped">
        <tbody>
            <tr>
                <td>Download DF Questions Report</td>
                <td>
                    <button class="btn btn-primary">Generate Report</button>
                </td>
            </tr>
            <tr>
                <td>Download Goals Cascade Final Report</td>
                <td>
                    <button class="btn btn-primary">Generate Report</button>
                </td>
            </tr>
            <tr>
                <td>Download Objective Audits Report</td>
                <td>
                    <button class="btn btn-primary" @onclick="objectiveAuditReportClick">Generate Report</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
