@page "/Reports"


@code {

}

<div class="container">
    <table class="table table-hover table-striped">
        <tbody>
            <tr>
                <td>Download DF Questions Report</td>
                <td>
                    <button class="btn btn-primary">Generate Report</button>
                </td>
            </tr>
            <tr>
                <td>Download Goals Cascade Final Report</td>
                <td>
                    <button class="btn btn-primary">Generate Report</button>
                </td>
            </tr>
            <tr>
                <td>Download Objective Audits Report</td>
                <td>
                    <button class="btn btn-primary">Generate Report</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
