@page "/learnDSS05"

 

@code {


}




<!-- x style -->

        <div class="row">
                        <div class="container-fluid">
                            <div class="col">
                                <div class="panel panel-primary">

                                    <div  class="panel-heading p-2 mb-2" style="color: white; background-color : purple"> 
                                        <div style="text-align: center;">
                                            <b>Deliver, Service and Support (DSS)</b>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>

 

                <div class="col-12"> 
                      <div style="text-align: center;">
                        <img src="ObjectivesPDF/DSS/DSS05.png" class="img-fluid">
                    </div> 
                </div>

                
                 <div class="container-fluid">
                            <div class="col">
                                <div class="panel panel-primary">

                                    <div class="panel-heading p-2 mb-2" style="color: white; background-color : purple">
                                         <div style="text-align: center;">
                                            <b>Primary/Core Processes</b>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>


            </div>


 
 
<!-- x style -->