 
 
.font510559
	{color:white;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	}
.font610559
	{color:white;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	}
.font710559
	{color:white;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	}

.font910559
	{color:white;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:underline;
	
	font-family:Calibri, sans-serif;
	}
.font1010559
	{color:white;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:underline;
	
	font-family:Calibri, sans-serif;
	}
.xl1510559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:general;
	vertical-align:bottom;
	
	
	white-space:nowrap;}
.xl6510559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:general;
	vertical-align:bottom;
	border:.5pt solid white;
	background:#757171;

	white-space:nowrap;}
.xl6610559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:general;
	vertical-align:bottom;
	border:.5pt solid white;
	background:#757171;

	white-space:normal;}
.xl6710559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:general;
	vertical-align:bottom;
	
	
	white-space:nowrap;}
.xl6810559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	background:#161616;

	white-space:nowrap;}
.xl6910559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:general;
	vertical-align:bottom;
	background:black;

	white-space:nowrap;}
.xl7010559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:general;
	vertical-align:bottom;
	border-top:none;
	border-right:.5pt solid white;
	border-bottom:.5pt solid white;
	border-left:.5pt solid white;
	background:#203764;

	white-space:nowrap;}
.xl7110559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:right;
	vertical-align:middle;
	background:#203764;

	white-space:normal;}
.xl7210559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border:.5pt solid white;
	background:#203764;

	white-space:normal;}
.xl7310559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border:.5pt solid white;
	background:#203764;

	white-space:normal;}
.xl7410559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:general;
	vertical-align:bottom;
	border:.5pt solid white;
	
	
	white-space:nowrap;}
.xl7510559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:general;
	vertical-align:bottom;
	
	
	white-space:nowrap;}
.xl7610559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:general;
	vertical-align:bottom;
	border:.5pt solid white;
	background:#375623;

	white-space:nowrap;}
.xl7710559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:right;
	vertical-align:middle;
	border-top:.5pt solid white;
	border-right:none;
	border-bottom:.5pt solid white;
	border-left:none;
	background:#375623;

	white-space:normal;}
.xl7810559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border:.5pt solid white;
	background:#375623;

	white-space:normal;}
.xl7910559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:general;
	vertical-align:bottom;
	border:.5pt solid white;
	
	
	white-space:nowrap;}
.xl8010559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:right;
	vertical-align:middle;
	border:.5pt solid white;
	background:#375623;

	white-space:normal;}
.xl8110559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:general;
	vertical-align:bottom;
	
	
	white-space:nowrap;}
.xl8210559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid white;
	border-bottom:.5pt solid white;
	border-left:none;
	background:#C65911;

	white-space:nowrap;}
.xl8310559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#B4C6E7;

	white-space:normal;}
.xl8410559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	
	font-family:Calibri, sans-serif;
	
	
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#B4C6E7;

	white-space:normal;}
.xl8510559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border:.5pt solid white;
	background:#D6DCE4;

	white-space:nowrap;}
.xl8610559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	
	
	white-space:nowrap;}
.xl8710559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#EDEDED;

	white-space:nowrap;}
.xl8810559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:bottom;
	border:.5pt solid windowtext;
	
	
	white-space:nowrap;}
.xl8910559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#EDEDED;

	white-space:nowrap;}
.xl9010559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:white;

	
	white-space:nowrap;}
.xl9110559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:left;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#D6DCE4;

	
	white-space:normal;}
.xl9210559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#DDEBF7;

	white-space:nowrap;}
.xl9310559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:right;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid white;
	border-left:.5pt solid white;
	background:#D6DCE4;

	white-space:nowrap;}
.xl9410559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:right;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:white;

	
	white-space:nowrap;}
.xl9510559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:left;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#D6DCE4;

	
	white-space:normal;}
.xl9610559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid white;
	border-bottom:.5pt solid white;
	border-left:.5pt solid white;
	background:#D6DCE4;

	white-space:nowrap;}
.xl9710559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#B4C6E7;

	white-space:normal;}
.xl9810559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:right;
	vertical-align:middle;
	border-top:.5pt solid white;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid white;
	border-left:.5pt solid white;
	background:#D6DCE4;

	white-space:nowrap;}
.xl9910559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border:.5pt solid white;
	background:#D6DCE4;

	white-space:nowrap;}
.xl10010559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#305496;

	white-space:normal;}
.xl10110559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	
	font-family:Calibri, sans-serif;
	
	
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#305496;

	white-space:normal;}
.xl10210559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:right;
	vertical-align:middle;
	border-top:.5pt solid white;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid white;
	background:#D6DCE4;

	white-space:nowrap;}
.xl10310559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:general;
	vertical-align:bottom;
	
	
	white-space:normal;}
.xl10410559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:general;
	vertical-align:bottom;
	
	
	white-space:nowrap;}
.xl10510559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:bottom;
	
	
	white-space:nowrap;}
.xl10610559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#B4C6E7;

	white-space:normal;}
.xl10710559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	background:#305496;

	white-space:nowrap;
	mso-rotate:90;}
.xl10810559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:bottom;
	border:1.0pt solid white;
	background:black;

	white-space:nowrap;}
.xl10910559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#B4C6E7;

	white-space:nowrap;
	mso-rotate:90;}
.xl11010559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#B4C6E7;

	white-space:nowrap;
	mso-rotate:90;}
.xl11110559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#305496;

	white-space:normal;}
.xl11210559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#305496;

	white-space:nowrap;
	mso-rotate:90;}
.xl11310559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	background:#B4C6E7;

	white-space:nowrap;
	mso-rotate:90;}
.xl11410559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border:.5pt solid white;
	background:#161616;

	white-space:normal;}
.xl11510559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border:.5pt solid white;
	background:#7030A0;

	white-space:normal;}
.xl11610559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid white;
	border-right:.5pt solid white;
	border-bottom:none;
	border-left:.5pt solid white;
	background:#7030A0;

	white-space:nowrap;}
.xl11710559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid white;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid white;
	background:#7030A0;

	white-space:nowrap;}
.xl11810559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid white;
	border-right:none;
	border-bottom:.5pt solid white;
	border-left:.5pt solid white;
	background:#C65911;

	white-space:nowrap;}
.xl11910559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid white;
	border-right:.5pt solid white;
	border-bottom:.5pt solid white;
	border-left:none;
	background:#C65911;

	white-space:nowrap;}
.xl12010559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid white;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid white;
	background:#C65911;

	white-space:nowrap;}
.xl12110559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid white;
	border-left:.5pt solid white;
	background:#C65911;

	white-space:nowrap;}
.xl12210559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border:1.0pt solid white;
	background:#161616;

	white-space:nowrap;}
.xl12310559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border:.5pt solid white;
	background:#757171;

	white-space:nowrap;}
.xl12410559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border:.5pt solid white;
	background:#3A3838;

	white-space:nowrap;}
.xl12510559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid white;
	background:#161616;

	white-space:nowrap;}
.xl12610559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid white;
	border-bottom:none;
	border-left:none;
	background:#161616;

	white-space:nowrap;}
.xl12710559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid white;
	border-left:.5pt solid white;
	background:#161616;

	white-space:nowrap;}
.xl12810559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid white;
	border-left:none;
	background:#161616;

	white-space:nowrap;}
.xl12910559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid white;
	border-bottom:.5pt solid white;
	border-left:none;
	background:#161616;

	white-space:nowrap;}
.xl13010559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid white;
	border-right:.5pt solid white;
	border-bottom:none;
	border-left:.5pt solid white;
	background:#757171;

	white-space:normal;}
.xl13110559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid white;
	border-bottom:.5pt solid white;
	border-left:.5pt solid white;
	background:#757171;

	white-space:normal;}
.xl13210559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid white;
	border-right:.5pt solid white;
	border-bottom:none;
	border-left:.5pt solid white;
	background:#3A3838;

	white-space:normal;}
.xl13310559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid white;
	border-bottom:.5pt solid white;
	border-left:.5pt solid white;
	background:#3A3838;

	white-space:normal;}
.xl13410559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid white;
	border-right:.5pt solid white;
	border-bottom:none;
	border-left:.5pt solid white;
	background:#7030A0;

	white-space:normal;}
.xl13510559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid white;
	border-bottom:none;
	border-left:.5pt solid white;
	background:#7030A0;

	white-space:normal;}
.xl13610559
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:white;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border:.5pt solid white;
	background:#161616;

	white-space:normal;}
-->
 